.tasklist {
     display: flex;
     align-items: flex-start;
     justify-content: center;
     gap: 28%;

     margin-top: 2rem;
}

.tasklist button {
     background: var(--gray-400);
     color: var(--gray-100);
     border: 1px solid transparent;
     border-radius: 1rem;
     padding: 0.25rem 0.45rem;
     text-decoration: bold;
}

.tarefasCriadas {
     color: var(--blue);
     display: flex;
     align-items: flex-start;
     justify-content: center;
     gap: 0.5rem;
}

.tarefasConcluidas {
     color: var(--purple);
     display: flex;
     align-items: flex-start;
     justify-content: center;
     gap: 0.5rem;
}

.content {
     color: var(--gray-300);
     
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     margin-top: 2rem;
}