.todoCard {
     background: var(--gray-500);
     color: var(--gray-100);

     display: flex;
     align-items: center;
     padding: 1rem 1rem;

     margin: 0 auto;

     width: 50%;
     border-radius: 8px;
}

.todoCard button {
     background: transparent;
     border: 0;

     cursor: pointer;
}

.todoCard button:hover {
      color: var(--danger);

     /* padding: 5px; */
}

.todo {
     display: flex;
     align-items: center;
 }