:root {
     --gray-100: #F2F2F2;
     --gray-200: #D9D9D9;
     --gray-300: #808080;
     --gray-400: #333333;
     --gray-500: #262626;
     --gray-600: #1A1A1A;
     --gray-700: #0D0D0D;

     --blue-dark: #1E6F9F;
     --blue: #4EA8DE;
     --purple-dark: #5E70CE;
     --purple: #8284F4;

     --danger: #E25858;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-weight: bold;  
}

body {
     font-family: 'Inter', sans-serif;
     font-weight: bold;
     font-size: 1rem;
     -webkit-font-smoothing: antialised;
     background: var(--gray-600);
}
